@model greenery.Models.Feedback

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.feedback_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
