@model IEnumerable<greenery.Models.Feedback>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.userName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.userName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.feedback_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.feedback_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.feedback_id })
        </td>
    </tr>
}

</table>
