@model IEnumerable<greenery.Models.Plant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.plant_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plant_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guidance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.plant_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.plant_price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.guidance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.imagePath)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.plant_id }) |
        @Html.ActionLink("Details", "Details", new { id = item.plant_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.plant_id })
    </td>
</tr>
}

</table>
